<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Homepage</h2>
<hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br>
        Role: <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership meeting.</a>
            (Only for managers.)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT Systems meeting.</a>
            (Only for admins.)
        </p>
    </div>

    <form action="#" th:action="@{/logout}" method="post">
        <button type="submit">Logout.</button>
    </form>
</body>
</html>