<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/process-student-form}" th:object="${student}" method="post">
    <label>First Name</label> <input type="text" th:field="*{firstName}">

    <!-- Show error message if available -->
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></span>
    <br>

    <label>Last Name</label> <input type="text" th:field="*{lastName}">
    <br>

    <label>Country</label>
    <!--
    <select th:field="*{country}">
        <option th:value="Brazil">Brazil</option>
        <option th:value="France">France</option>
        <option th:value="Germany">Germany</option>
        <option th:value="Korea">Korea</option>
    </select>
    -->
    <select th:field="*{country}">
        <option th:each="tmp: ${countries}" th:value="${tmp}" th:text="${tmp}"></option>
    </select>

    <br>
    <label>Favourite Programming Language</label>
    <input type="radio" th:field="*{language}" th:value="Cpp"> Cpp </input>
    <input type="radio" th:field="*{language}" th:value="Java">Java </input>
    <input type="radio" th:field="*{language}" th:value="Python">Python </input>

    <br>
    <label>Operating System</label>
    <input type="checkbox" th:field="*{opSystem}" th:value="Linux"> Linux </input>
    <input type="checkbox" th:field="*{opSystem}" th:value="macOS"> macOS </input>
    <input type="checkbox" th:field="*{opSystem}" th:value="Windows"> Windows </input>
    
    <br>
    <label>Free Passes:</label>
    <input type="text" th:field="*{freePasses}">
    <!-- Show error message if available -->
    <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>

    <br>
    <label>Postal Code:</label>
    <input type="text" th:field="*{postalCode}">
    <!-- Show error message if available -->
    <span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="error"></span>

    <button type="submit" value="Submit ">submit</button>
</form>

</body>
</html>